* {
  font-family: "Commissioner", sans-serif;
}

/* when navbar is collapsed */
@media only screen and (max-width: 767px) {
  /* in navbar */
  /* .home {
    margin-left: 1rem;
  }
  .about {
    margin-left: 3rem;
  }
  .services {
    margin-left: 5rem;
  }
  .action {
    margin-left: 7rem;
  }
  .contact {
    margin-left: 9rem;
  } */

  .navbar-nav .nav-link {
    padding: 1rem !important;
    display: flex;
    justify-content: center;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:active {
    background-color: #ffffff;
    color: #000000 !important;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    padding: 0rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
