* {
  font-family: "Commissioner", sans-serif;
}

/* when navbar is collapsed */
@media only screen and (max-width: 767px) {
  /* in navbar */
  .navbar-nav .nav-link {
    padding: 1rem !important;
    display: flex;
    justify-content: center;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:active {
    background-color: #ffffff;
    color: #000000 !important;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    padding: 0rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* in footer */
  .footer {
    /* min-height: 15rem; */
    background-color: #000000;
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .footerbody {
    min-height: 15rem;
    justify-content: space-between;
  }
  .footerbio {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid white;
  }
  .footernavdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid white;
  }
  .footerinfo {
    color: white;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .footerimg {
    height: 1.3rem;
  }
  .footercopyright {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footernavtitle {
    color: white;
    margin: 0;
    margin-right: 1rem;
  }
  .footerlink {
    font-size: 1rem;
    margin: 0rem;
    color: white !important;
  }
  .footerlink:hover {
    color: #adadad !important;
  }
  /* in about */
  .bio {
    background-color: #ff0000;
    padding: 2rem;
    color: white;
    margin-bottom: 4rem;
  }
  .fact {
    background-color: #424242;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    height: 18vw;
    width: 18vw;
    font-size: 2.3vw;
    font-weight: 800;
  }
  .facts {
    display: flex;
    color: white;
    justify-content: space-evenly;
  }
  .title {
    font-size: 8vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .aboutsection {
    /* display: flex; */
    height: 20rem;
    margin-top: 3rem;
  }
  .personbiodiv {
    color: white;
    background-color: #424242;
    padding: 3rem;
    text-align: center;
    min-width: 30rem;
  }
  .personimg {
    height: 30vw;
    /* object-fit: cover; */
  }
  /* in services */
  .services {
    /* display: flex; */
    background-color: #454545;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }
  .service {
    /* width: 33.3%; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
  }
  .serviceicon {
    height: 18vw;
    width: 18vw;
    margin-bottom: 2rem;
    /* margin-top: 1rem; */
  }
  .serviceborder {
    border-bottom: 3px solid white;
  }
  .servicehead {
    font-size: 5vw;
  }
  .servicep {
    font-size: 3vw;
  }
  .servicetitle {
    font-size: 8vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .protect {
    background-color: #454545;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: white;
    display: flex;
  }
  .protecttext {
    width: 60%;
    /* padding-right: 10rem; */
  }
  .protectlist {
    width: 40%;
    font-size: 3vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* in footer */
  .footer {
    /* min-height: 15rem; */
    background-color: #000000;
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .footerbody {
    min-height: 15rem;
    justify-content: space-between;
  }
  .footerbio {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid white;
  }
  .footernavdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid white;
  }
  .footerinfo {
    color: white;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .footerimg {
    height: 1.3rem;
  }
  .footercopyright {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footernavtitle {
    color: white;
    margin: 0;
    margin-right: 1rem;
  }
  .footerlink {
    font-size: 1rem;
    margin: 0rem;
    color: white !important;
  }
  .footerlink:hover {
    color: #adadad !important;
  }
  /* in about */
  .bio {
    background-color: #ff0000;
    padding: 2rem;
    color: white;
    margin-bottom: 4rem;
  }
  .title {
    font-size: 8vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .fact {
    background-color: #424242;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: min(2rem);
    border-radius: 1rem;
    height: 18vw;
    width: 18vw;
    font-size: 2vw;
    font-weight: 800;
  }
  .facts {
    display: flex;
    color: white;
    justify-content: space-evenly;
  }
  .aboutsection {
    display: flex;
    height: 20rem;
    margin-top: 3rem;
  }
  .personbiodiv {
    color: white;
    background-color: #424242;
    padding: 3rem;
    text-align: center;
    min-width: 36rem;
  }
  .personimg {
    object-fit: cover;
  }
  /* in services */
  .services {
    /* display: flex; */
    background-color: #454545;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }
  .service {
    /* width: 33.3%; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
  }
  .serviceicon {
    height: 18vw;
    width: 18vw;
    margin-bottom: 2rem;
    /* margin-top: 1rem; */
  }
  .serviceborder {
    border-bottom: 3px solid white;
  }
  .servicehead {
    font-size: 5vw;
  }
  .servicep {
    font-size: 3vw;
  }
  .servicetitle {
    font-size: 8vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .protect {
    background-color: #454545;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: white;
    display: flex;
  }
  .protecttext {
    width: 60%;
    /* padding-right: 10rem; */
  }
  .protectlist {
    width: 40%;
    font-size: 3vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* in footer */
  .footer {
    /* min-height: 15rem; */
    background-color: #000000;
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .footerbody {
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
  }
  .footerbio {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid white;
    border-bottom: none;
  }
  .footernavdiv {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid white;
    border-bottom: none;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .footernav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
  }
  .footerinfo {
    width: 33.3%;
    color: white;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .footerimg {
    height: 1.3rem;
  }
  .footercopyright {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footernavtitle {
    color: white;
    margin-bottom: 1rem !important;
  }
  .footerlink {
    font-size: 1rem;
    margin: 0rem;
    color: white !important;
  }
  .footerlink :hover {
    color: #454545 !important;
  }
  /* in about */
  .bio {
    background-color: #ff0000;
    padding: 2rem;
    color: white;
    margin-bottom: 4rem;
  }
  .title {
    font-size: 5vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .fact {
    background-color: #424242;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: min(2rem);
    border-radius: 1rem;
    height: 18vw;
    width: 18vw;
    font-size: 2vw;
    font-weight: 800;
  }
  .facts {
    display: flex;
    color: white;
    justify-content: space-evenly;
  }
  .servicetitle {
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .aboutsection {
    display: flex;
    height: 20rem;
    margin-top: 3rem;
  }
  .personbiodiv {
    color: white;
    background-color: #424242;
    padding: 3rem;
    text-align: center;
    min-width: 36rem;
  }
  .personimg {
    object-fit: cover;
  }
  /* in services */
  .services {
    display: flex;
    background-color: #454545;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }
  .service {
    width: 33.3%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
  }
  .serviceicon {
    height: 8vw;
    width: 8vw;
    margin-bottom: 2rem;
    /* margin-top: 1rem; */
  }
  .servicehead {
    font-size: 3.2vw;
  }
  .servicep {
    font-size: 2vw;
  }
  .servicetitle {
    font-size: 5vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .protect {
    background-color: #454545;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: white;
    display: flex;
  }
  .protecttext {
    width: 60%;
    padding-right: 10rem;
  }
  .protectlist {
    width: 40%;
    font-size: 2vw;
  }
  .serviceborder {
    border-right: 3px solid white;
    border-bottom: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* in footer */
  .footer {
    /* min-height: 15rem; */
    background-color: #000000;
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .footerbody {
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
  }
  .footerbio {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid white;
  }
  .footernavdiv {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid white;
    border-bottom: none;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .footernav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
  }
  .footerinfo {
    width: 33.3%;
    color: white;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .footerimg {
    height: 1.3rem;
  }
  .footercopyright {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footernavtitle {
    color: white;
    margin: 0;
  }
  .footerlink {
    font-size: 1rem;
    margin: 0rem;
    color: white !important;
  }
  .footerlink :hover {
    color: #454545 !important;
  }
  /* in about */
  .bio {
    background-color: #ff0000;
    padding: 2rem;
    color: white;
    margin-bottom: 4rem;
  }
  .title {
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .fact {
    background-color: #424242;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: min(2rem);
    border-radius: 1rem;
    height: 18vw;
    width: 18vw;
    font-size: 2vw;
    font-weight: 800;
  }
  .facts {
    display: flex;
    color: white;
    justify-content: space-evenly;
  }
  .servicetitle {
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .aboutsection {
    display: flex;
    height: 20rem;
    margin-top: 3rem;
  }
  .personbiodiv {
    color: white;
    background-color: #424242;
    padding: 3rem;
    text-align: center;
    min-width: 36rem;
  }
  .personimg {
    object-fit: cover;
  }
  /* in services */
  .services {
    display: flex;
    background-color: #454545;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }
  .service {
    width: 33.3%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
  }
  .serviceicon {
    height: 8vw;
    width: 8vw;
    margin-bottom: 2rem;
    /* margin-top: 1rem; */
  }
  .servicehead {
    font-size: 3.2vw;
  }
  .servicep {
    font-size: 2vw;
  }
  .servicetitle {
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .protect {
    background-color: #454545;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: white;
    display: flex;
  }
  .protecttext {
    width: 60%;
    padding-right: 10rem;
  }
  .protectlist {
    width: 40%;
    font-size: 2vw;
  }
  .serviceborder {
    border-right: 3px solid white;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* in footer */
  .footer {
    /* min-height: 15rem; */
    background-color: #000000;
    width: 100%;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .footerbody {
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
  }
  .footerbio {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid white;
  }
  .footernavdiv {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid white;
    border-bottom: none;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .footernav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
  }
  .footerinfo {
    width: 33.3%;
    color: white;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .footerimg {
    height: 1.3rem;
  }
  .footercopyright {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footernavtitle {
    color: white;
    margin: 0;
  }
  .footerlink {
    font-size: 1rem;
    margin: 0rem;
    color: white !important;
  }
  .footerlink :hover {
    color: #454545 !important;
  }
  /* in about */
  .bio {
    background-color: #ff0000;
    padding: 2rem;
    color: white;
    margin-bottom: 4rem;
  }
  .fact {
    background-color: #424242;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: min(2rem);
    border-radius: 1rem;
    height: 18vw;
    width: 18vw;
    font-size: 2vw;
    font-weight: 800;
  }
  .facts {
    display: flex;
    color: white;
    justify-content: space-evenly;
  }
  .title {
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .aboutsection {
    display: flex;
    height: 20rem;
    margin-top: 3rem;
  }
  .personbiodiv {
    color: white;
    background-color: #424242;
    padding: 3rem;
    text-align: center;
    min-width: 36rem;
  }
  .personimg {
    object-fit: cover;
  }
  /* in services */
  .services {
    display: flex;
    background-color: #454545;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }
  .service {
    width: 33.3%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
  }
  .serviceicon {
    height: 8vw;
    width: 8vw;
    margin-bottom: 2rem;
    /* margin-top: 1rem; */
  }
  .servicehead {
    font-size: 2.5vw;
  }
  .servicep {
    font-size: 1.2vw;
  }
  .servicetitle {
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  .protect {
    background-color: #454545;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: white;
    display: flex;
  }
  .protecttext {
    width: 60%;
    padding-right: 10rem;
  }
  .protectlist {
    width: 40%;
    font-size: 1.2vw;
  }
  .serviceborder {
    border-right: 3px solid white;
  }
}
