* {
  font-family: "Commissioner", sans-serif;
}

/* when navbar is collapsed */
@media only screen and (max-width: 767px) {
  /* in navbar */
  .navbar-nav .nav-link {
    padding: 1rem !important;
    display: flex;
    justify-content: center;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:active {
    background-color: #ffffff;
    color: #000000 !important;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    padding: 0rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* in footer */
  .footerlink {
    font-size: 1rem;
    margin: 0rem;
    color: white !important;
  }
  .footerlink :hover {
    color: #454545 !important;
  }
}
